@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import 'flatpickr/dist/flatpickr.min.css';*/

.link {
    @apply hover:underline text-green-700 font-medium;
    text-decoration-color: theme('colors.wordle-yellow');
    text-decoration-thickness: 2px;
}

.gray-link {
    @apply hover:underline text-gray-500
}

.green-nav-link {
    @apply text-green-50 hover:underline;
    text-decoration-color: theme('colors.wordle-yellow');
    text-decoration-thickness: 2px;
}

.green-nav-link-underline {
    @apply underline;
    text-decoration-color: theme('colors.wordle-yellow');
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
}


[x-cloak] { display: none !important; }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.spin {
    animation: spin 1500ms linear infinite;

}

.turbo-progress-bar {
    height: 3px;
    background-color: white;
}

input::-webkit-date-and-time-value {
    @apply mt-0 text-left w-full;
}

