@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import 'flatpickr/dist/flatpickr.min.css';*/

.link {
    @apply hover:underline text-green-700
}

.gray-link {
    @apply hover:underline text-gray-500
}



[x-cloak] { display: none !important; }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.spin {
    animation: spin 1500ms linear infinite;

}

.turbo-progress-bar {
    height: 3px;
    background-color: white;
}

input::-webkit-date-and-time-value {
    @apply mt-0 text-left w-full;
}
